<style>
    .img-bg{
        background: url('./images/5.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        filter: blur(5px);
        position: fixed;
        top:0;
        left: 0;
        right:0;
        bottom: 0;
        height: 100%;
        z-index: 4;
    }
    .mask-bg{
        /*background: #dc3545 !important;*/
        position: fixed;
        top:0;
        left: 0;
        right:0;
        bottom: 0;
        height: 100%;
        opacity: 0.4;
        z-index: 5;
    }
    .insider{
        z-index: 9;
    }
    .mid-inside{
        padding: 1.5rem;
        background: rgba(255,255,255,0.2);
        color: aliceblue;
    }
    aside{
        display: none;
    }
    h4,p,input{
        font-weight: 300;
    }
    p,input,.input-group-text{
        font-size: 1rem !important;
        border-radius: 0 !important;
        border: 0 !important;
        background: none;
    }
    .input-group-text{
        background: #ffffff;
    }
    input:focus{
        outline: 0;
        box-shadow: none !important;
    }
    .fa,button{
        font-size: 1.1rem !important;
        font-weight: 300;
    }
    input:-webkit-autofill,input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        background-color: #FFFFFF !important;
        color: #000 !important;
        -webkit-box-shadow: 0 0 0 30px white inset;
        -webkit-text-fill-color: #000 !important;
    }
</style>
<section id="main_login_content" class="row justify-content-center" style="    position: fixed;
    height: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;">
    <div class="img-bg"></div>
    <!--<div class="mask-bg"></div>-->
    <div class="col-md-4 align-self-center insider">
        <div class="text-center p-4">
            <img src="./images/l.png" alt="Vinetool Media" width="70%">
        </div>
        <div class="mid-inside">
            <h4 class="py-3">Login to your affiliate account.</h4>
            <form name="login_form" method="post" action="">
                <div class="form-group">
                    <div class="input-group input-group-sm border-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input class="form-control" type="text" name="username" value="" placeholder="Username" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input class="form-control" type="password" name="password" value="" placeholder="********" required>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-info border-0 rounded-0" type="submit" name="login" value="_">Sign in <i class="fa fa-sign-in"></i></button>
                </div>
            </form>
            <div class="pt-4 mt-4" style="border-top: 1px dotted #ffffff">
                <p>Don't have an account? <br/>no worries &nbsp;<a href="https://vinetool.com/get-in-touch/" class="text-info" style="font-weight: bold">Contact Us</a></p>
            </div>
        </div>
    </div>
</section>
