table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,table.dataTable.dtr-inline.collapsed>tbody>tr>th.child,table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty{cursor:default !important}table.dataTable.dtr-inline.collapsed>tbody>tr>td.child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>th.child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty:before{display:none !important}table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child,table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child{position:relative;padding-left:30px;cursor:pointer}table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before{top:8px;left:4px;height:16px;width:16px;display:block;position:absolute;color:white;border:2px solid white;border-radius:16px;box-shadow:0 0 3px #444;box-sizing:content-box;font-family:'Courier New', Courier, monospace;text-indent:4px;line-height:16px;content:'+';background-color:#31b131;}table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{content:'-';background-color:#d33333}table.dataTable.dtr-inline.collapsed>tbody>tr.child td:before{display:none}table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child{padding-left:27px}table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before{top:5px;left:4px;height:14px;width:14px;border-radius:14px;line-height:14px;text-indent:3px}table.dataTable.dtr-column>tbody>tr>td.control,table.dataTable.dtr-column>tbody>tr>th.control{position:relative;cursor:pointer}table.dataTable.dtr-column>tbody>tr>td.control:before,table.dataTable.dtr-column>tbody>tr>th.control:before{top:50%;left:50%;height:16px;width:16px;margin-top:-10px;margin-left:-10px;display:block;position:absolute;color:white;border:2px solid white;border-radius:16px;box-shadow:0 0 3px #444;box-sizing:content-box;font-family:'Courier New', Courier, monospace;text-indent:4px;line-height:16px;content:'+';background-color:#31b131}table.dataTable.dtr-column>tbody>tr.parent td.control:before,table.dataTable.dtr-column>tbody>tr.parent th.control:before{content:'-';background-color:#d33333}table.dataTable>tbody>tr.child{padding:0.5em 1em}table.dataTable>tbody>tr.child:hover{background:transparent !important}table.dataTable>tbody>tr.child ul{display:inline-block;list-style-type:none;margin:0;padding:0;}table.dataTable>tbody>tr.child ul li{border-bottom:1px solid #efefef;padding:0.5em 0;}table.dataTable>tbody>tr.child ul li:first-child{padding-top:0}table.dataTable>tbody>tr.child ul li:last-child{border-bottom:none}table.dataTable>tbody>tr.child span.dtr-title{display:inline-block;min-width:75px;font-weight:bold}div.dtr-modal{position:fixed;box-sizing:border-box;top:0;left:0;height:100%;width:100%;z-index:100;padding:10em 1em}div.dtr-modal div.dtr-modal-display{position:absolute;top:0;left:0;bottom:0;right:0;width:50%;height:50%;overflow:auto;margin:auto;z-index:102;overflow:auto;background-color:#f5f5f7;border:1px solid black;border-radius:0.5em;box-shadow:0 12px 30px rgba(0,0,0,0.6)}div.dtr-modal div.dtr-modal-content{position:relative;padding:1em}div.dtr-modal div.dtr-modal-close{position:absolute;top:6px;right:6px;width:22px;height:22px;border:1px solid #eaeaea;background-color:#f9f9f9;text-align:center;border-radius:3px;cursor:pointer;z-index:12}div.dtr-modal div.dtr-modal-close:hover{background-color:#eaeaea}div.dtr-modal div.dtr-modal-background{position:fixed;top:0;left:0;right:0;bottom:0;z-index:101;background:rgba(0,0,0,0.6)}@media screen and (max-width: 767px){div.dtr-modal div.dtr-modal-display{width:95%}}

body{
    overflow-x: hidden !important;
}
body,button,input{
    font-size: .8rem !important;
}
nav ul li.last{
    position: absolute;
    right: 10px;
}
.navbar-dark{
 background: #333;
}

.select2-selection,select{
    padding: .1rem;
    height: auto !important;
}
header{
    border-bottom: 6px solid #cb2434;
}
header.navbar-dark a.nav-link{
    font-size: .9rem;
    font-weight: 600;
}
.table-responsive table{
    box-shadow: 0 10px 30px #eee;
}
table.sidebarAside strong{
    font-size: .85rem;
}
header .dropdown .dropdown-item{
    font-size: .8rem;
}

input[type="checkbox"]{width: auto!important;}

main table,main table .btn{font-size: .7rem !important}

table tr td{padding: .4rem .5rem !important;}

.bootstrap-datetimepicker-widget .collapse{
    display: block !important;}
.timepicker-picker table.table-condensed tr:nth-child(1),.timepicker-picker table.table-condensed tr:nth-child(3),.bootstrap-datetimepicker-widget .accordion-toggle {display: none}

.blue-bg{
    background: #3598dc;
}
.blue-bd{
    background: #258fd7;
}
.purple-bg{
    background-color: #8E44AD;
}
.purple-bd{
    background-color: #823e9e;
}
.red-bg{
    background-color: #e7505a;
}
.red-bd{
    background-color: #e53e49;
}
.green-bg{
    background-color: #26C281;
}
.green-bd{
    background-color: #23b176;
}
.grey-bg{
    background-color: #525e64;
}
.grey-bd{
    background-color: #495359;
}
.yellow-bg{
    background-color: #F7CA18
}
.yellow-bd{
    background-color: #f2c308
}

.highcharts-credits, .amcharts-chart-div a {
    display: none !important;
}

body, input, h1, h2, h3, h4, h5, h6, span, div, label, a, button, table {
    font-family: Raleway !important;
}

.jcgmt-container {
    color: #fff;
    font-size: 11px;
    box-sizing: border-box;
    margin-top: .2rem;
    max-width: 165px;
}

.jcgmt-digital {
    display: inline-table;
    font-family: monospace !important;
    float: right;
    background: #cc3a34;
    padding: .3rem;
}

.jcgmt-date {
    display: inline-table;
    font-family: monospace !important;
    float: left;
    background: #cc3a34;
    padding: .3rem;
}

@media (max-width: 575px) {
    nav ul li.last{
        position: relative;
        right: auto;
    }
}